{% extends 'base.html' %}
{% block content %}

<section class="for-developers">
   <div class="container">

       <div class="options">
           <div class="option">
               <div class="option-icon">
                   <img src="https://cdn.sstatic.net/Img/home/public-qa.svg?v=d82acaa7df9f" alt="Public Q & A">
               </div>
               <div class="option-title">
                   Public Q&A
               </div>
               <div class="option-description">
                   Get answers to your questions here.
                   <a href="#">Sign up</a> for an account.
               </div>
               <div class="option-button">
                   <a href="{% url "backend:question-lists" %}" class="option-link btn btn-dark-blue">
                       Browse questions
                   </a>
               </div>
           </div>

           
       </div>
   </div>
</section>




{% endblock content %}